$mobile: "(max-width: 768px)";
$tablet: "(min-width: 768px)";
$tablet_only: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";

@mixin mobile {
  @media #{$mobile} {
    @content;
  }
}

@mixin desktop {
  @media #{$desktop} {
    @content;
  }
}

@mixin tablet {
  @media #{$tablet} {
    @content;
  }
}

@mixin tablet-only {
  @media #{$tablet_only} {
    @content;
  }
}
